
body {
  background-color: #000;
  color: #eee;
  font-family: "futura", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0 0 0.4em 0;
}

p {
  margin: 0 0 0.8em;
}

a:link {
  color: #eee;
  text-decoration: none;
  transition: color 150ms ease;
}
a:active, a:focus, a:hover {
  color: shade(#eee, 25%);
}

blockquote {
  background-color: #eee;
  font-style: italic;
  max-height: 250px;
  overflow: auto;
  padding: 0 1.6em;
}

cite {
  font-style: normal;
}
cite:before {
  content: "– ";
}

.prompt {
  color: #999;
  font-size: 0.75em;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

/* Home Page */
.home {
  padding: 1.6em 0;
  text-align: center;
}
.home h1 {
  color: #ff9933;
}
.home p {
  color: #eee;
  margin: 1.6em auto;
}
.home p a {
  color: #ff9933;
}
.mural-menu {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(11, minmax(160px, 1fr));
  width: 100vw;
  overflow-x: scroll;
}
.mural-menu a img {
  max-width: 100%;
}
.mural-menu h2 {
  color: #ff9933;
  font-size: 1em;
  font-weight: normal;
}
.home-info p {
  font-size: .8em;
  color: #b9b9b9;
}

/* PANEL INTRO PAGE */
.msm-link {
  grid-area: msm-link;
}
.site-title {
  grid-area: site-title;
  justify-self: center;
}
.site-title h3{
  padding: 0;
  margin: 0 auto;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: .75em;
}
.site-title a:link, .site-title a:visited {
  color: #eee;
  text-decoration: none;
}
.site-title a:hover {
  color: #ff9933;
  text-decoration: underline;
}
.panel-nav {
  grid-area: panel-nav;
  text-align: center;
}
.msm-link, .site-title, .panel-nav {
  color: #eee;
  margin: .5em;
}
.panel-title {
  color: #ff9933;
  grid-area: panel-title;
  text-align: center;
}
.panel-title h1 {
  margin: 0;
}
/*smallest display*/
.wrapper {
  display: grid;
  grid-template-areas:
   "msm-link site-title"
   "panel-nav panel-nav"
   "panel-title panel-title"
   "content-area content-area";
}

/*medium display
@media only screen and (min-width: 700px)  {
.wrapper {

  grid-template-columns: 20% auto;
  grid-template-areas:
  "msm-link msm-link"
  "header panel-nav"
  "title title"
  "sidebar content"
  "sidebar2 sidebar2";
  }
}*/

/*large display*/
@media only screen and (min-width: 800px)   {
  .wrapper {
    grid-template-columns: 200px auto 200px;
    grid-template-areas:
      "msm-link site-title panel-nav"
      "panel-title panel-title panel-title"
      "content-area content-area content-area";
  }
}
.content-area {
  background-color: #fff;
  display: grid;
  grid-area: content-area;
  grid-template-areas: 
    "prev-panel current-panel next-panel";
}
.content-area img {
  max-height: 80vh;
}
.prev-panel {
  grid-area: prev-panel;
}
.next-panel {
  grid-area: next-panel;
}
.prev-panel, .next-panel {/* for small layout, push panels down w dynamic top padding */
  background-color: #000;
  position: relative;
}
.arrow {
  position: absolute;
  top: 45%;
}
.next-panel a img {
  right: 4px;
} 
.prev-panel a img {
  left: 4px;
}
.current-panel {
  color: #000;
  grid-area: current-panel;
  display: grid;
  /*grid-template-columns: 1fr auto 1fr;*/
  grid-template-areas:
    "text"
    "panel-image"
    "article-buttons";
  overflow: auto;
}

/*large display*/
@media only screen and (min-width: 800px)   {
  .current-panel {
    /*grid-gap: 1em;*/
    /*grid-template-columns: 120px auto 120px;*/
    grid-template-areas:
      "text panel-image article-buttons";
  }
}
.current-panel article {
  grid-area: text;
  padding: 1em;
}

.current-panel img {
  grid-area: panel-image;
  margin: 0 auto;
}

.current-panel .tabs {
  grid-area: article-buttons;
  padding: 1em;
}

nav.tabs {
  justify-self: center;
  width: 50%;
}
/*large display*/
@media only screen and (min-width: 800px)   {
  nav.tabs {
    width: 90%;
  }
}

.tabs ul {
  font-size: 0.75em;
  letter-spacing: 0.025em;
  padding: 0;
  text-transform: uppercase;
}
.tabs ul li {
  background-color: #ff9933;
  border: 1px solid #e67300;
  border-radius: 60px;
  display: inline-block;
  font-weight: bold;
  height: 60px;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin: 0px 0px 5px 0px;
  padding: .5em;
  text-align: center;
  width: 90%;
}

.tabs ul li a:link, .tabs ul li a:visited {
  color: white;
}

.tabs ul li a:hover {
  color: #444;
  text-decoration: underline;
}

.tabs ul li.selected {
  background-color: #444;
  color: white;
}
.panel-nav img {
  margin-right: -2px;
}
.panel-nav a {
  text-decoration: none;
}