/*model styles*/
body {
	margin: 0;
}
.top-head {
	display: grid;
	grid-template-columns: 15% 1fr 15%;
	background-color: black;
	text-align: center;
}

.top-head .msm-link {
	grid-column: 1;
}

.top-head .msm-link img {
	max-width: 60%;
}

.top-head h1 {
	grid-column: 2;
}

.top-head .panel-nav {
	grid-column: 3;
}

main header.panel-head {
	background-color: lightpink;
	overflow: auto;
	text-align: center;
}

.panel-nav {
	float: right;
}

.panel-body {
	display: grid;
	grid-template-columns: 15% 1fr 15%;
	grid-template-rows: 1;
	grid-gap: 0;
	background-color: yellow;
}

.prev-panel {
	grid-column: 1;
	grid-row: 1;
}

.guts {
	display: grid;
	grid-column: 2;
	grid-row: 1;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2%;
}

.next-panel {
	grid-column: 3;
	grid-row: 1;
}

.guts .intro-text {
	grid-column: 1;
}

.guts .panel-image {
	grid-column: 2;
}

.guts .tabs {
	grid-column: 3;
}

/*.panel-body img.panel-pics {
	max-height: 100%;
}*/