// Layout Home

.home header {
	padding: $base-spacing 0;
	text-align: center;

	h1 {
		color: $accent-color;
	}

	p {
		color: $base-font-color;
		margin: $base-spacing auto;

		a {
			color: $accent-color;
		}
	}
}

.home-info p {
  font-size: $smallish-font-size;
  color: $medium-gray;
}

.mural-menu {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(11, minmax(160px, 1fr));
  width: 100vw;
  overflow-x: scroll;

  a img {
	  max-width: 100%;
  }

  h2 {
	  color: $accent-color;
	  font-size: $base-font-size;
	  font-weight: normal;
	}
}
